.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    color: var(--text-primary);
}

.desc-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}